.logo-container {
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  .logo-image {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 83%;
    transform: rotateZ(10deg) !important;
    z-index: 1;
  }
}
@media screen and (max-width: 800px) {
  .logo-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0%;
    left: auto;
    right: auto;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -2;
    .logo-image {
      position: relative;
      height: 40%;
      width: auto;
      margin-bottom: 80px;
    }
  }
}
